.HomePage{
    width: 100%;
    margin-top: 175px;
}

/* Banner */
.Banner{
    width: 100%;
    display: flex;
    height: 100vh;
}

.Banner .Banner-img{
    width: 70%;
    margin-left: 2rem;
}

.Banner .Banner-img img{
    width: 100%;
}

.Banner .Banner-text{
    width: 50%;
    padding: 0 5rem;
}

.Banner .Banner-text .Banner-Title{
    color: #1D1CE5;
    opacity: 0.85;
}

.Banner .Banner-text .Banner-subtext{
    opacity: 0.90;
}

/* Card */

.Card-Component{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20vh;
    
}

.Card-Component .Card{
    background: white;
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 20px;
}


.Card-Component .Card .Card-Title{
    color: #1D1CE5;
    opacity: 0.85;
}

.Card-Component .Card .Card-Subtext{
    opacity: 0.85;
}

/* Slider */

.Slider-Component{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
}

.Slider-Component .Slider-Title{
    width: 45%;
    font-size: 32px;
    color: #1D1CE5;
    opacity: 0.85;
}

.Slider-Component .Slider{
    width: 55%;
    border: 2px solid white;
    padding: 2rem;
    border-radius: 20px;
}

.Swiper{
    width: 100%;
    height: 50vh;
}

/* About */

.About-Component{
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 20px;
}

.About-Component .About-text  {
    column-count: 2;
}

.About-Component .About-up{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.About-Component .About-up .Title{
    color: #1D1CE5;
    opacity: 0.85;
}

.About-Component .Icons .link{
    margin-right: 10px;
}

.Icons img{
    width: 30px;
}

/* Cotact Us Section */

.ContactUs{
    width: 80%;
    margin: 10vh auto;
    background: white;
    padding: 2rem;
    border-radius: 20px;
}

.ContactUs .Contact-up{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.ContactUs .Contact-up .Title{
    color: #1D1CE5;
    opacity: 0.85;
}

.Icons a{
    margin-right: 10px;
}


.ContactUs .Contact-down{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactUs .contact-input{
    margin: 1rem 0;
}

.ContactUs .Contact-down .MuiInputBase-input{
    width: 400px;
    
}

/* Footer */

.Footer{
    background: linear-gradient(to left,#7978FF,#1D1CE5);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Footer .Footer-Top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer .Footer-Menu{
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Footer .Footer-Menu li{
    margin: 0.5rem 0;
    padding: 0 1rem;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    font-size: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.233);
}


.Footer .Footer-Mid{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.Copyright{
    color: white;
    opacity: 0.5;
    margin: 0 auto;
}


@media (max-width:768px) {
    .HomePage{
        margin-top: 100px;
    }
    
    /* Banner */

    .Banner{
        flex-direction: column;
    }

    .Banner .Banner-img{
        width:90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .Banner .Banner-img img{
        width:100%;
    }

    .Banner .Banner-text{
        width: 90%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .Banner-Button{
        margin: 2rem 25%;
    }

    /* Cards */

    .Card-Component{
        width: 95%;
        flex-direction: column;
        margin: 300px auto;
    }

    .Card-Component .Card{
        width: 85%;
    }

    /* Slider */
    .Slider-Component{
        width: 95%;
        flex-direction: column;
        margin: 0 auto 50px auto;
    }

    .Slider-Component .Slider-Title{
        font-size: 24px;
        width: 100%;
    }

    .Slider-Component .Slider{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .Swiper{
        width: 90%;
        height: 50vh;
        margin: 0 auto;
    }

    /* About */

    .About-Component .About-text  {
        column-count: 1;
    }

    .ContactUs{
        width: 95%;
        
        
    }

    .ContactUs .Contact-down{
        width: 100%;
        margin-bottom: 1rem;
    }

    .ContactUs .Contact-down .MuiInputBase-input{
        width: 270px;
        
    }

    .Footer .Footer-Mid .Icons img{
        width: 20px;
    }

    .Footer .Footer-Mid{
        justify-content: space-between;
    }

    .Footer .Copyright{
        font-size: 10px;
    }
    
}
